.header-box{position:fixed;width:100%;z-index:100}.header-area{width:100%}.header-area .top-area{display:flex;font-size:14px}.header-area .top-area .more-vert{display:block}.header-area .top-area .click-area{display:inline-flex;vertical-align:middle;line-height:25px;margin:0 4px;padding:0 4px;cursor:pointer}.header-area .top-area .account-area{display:inline-flex;vertical-align:middle;line-height:25px;margin-left:auto}.header-area .top-area .top-icon{font-size:25px;width:25px;height:25px;padding:0 4px}.hello{color:#e66a1b;font-size:40px}

/*# sourceMappingURL=header.css.map */