
.header-box {
  position: fixed;
  width: 100%;
  background-color:#3f51b5;
  color: #fff;
  margin: -90px -8px 0px;
  height: 65px;
  font-weight: 800;
}

.log-header {
  background-color:#3f51b5;
}

.top-area {
display: flex;
}

.click-area {
  display: inline-flex;
  vertical-align: middle;
  line-height: 25px;
  margin: 0 4px;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 18px
  }

.click-area:hover {
    background-color:#4169e1;
}


a {
  color: #1f53a7;
  text-decoration: none;
}

.linkcolor {
    color: #FFF

}
.linkcolor2 {
  color: rgb(65, 125, 255)

}

.container {
    background-color:#fafafa;
}

.mat-elevation-z8 {
    margin: 20px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.form-box{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 4px;
    padding: 10px;
    font-size: 16px;
}


.title-area {
    display: inline-flex;
    vertical-align: middle;
    line-height: 40px;
    margin: 0 4px;
    padding: 10px 4px;
    font-size: 16px;
    font-weight: 1000;
}

.mat{
    margin:12px;
    font-size: 20px;
}

.topma{
    margin-top: 90px
}

.text-box {
    height:  250px;             /* 高さ指定 */
    padding:  20px;             /* 余白指定 */
    margin: 5px 15px;
    border:  solid 2px;         /* 枠線指定 */
    border-color: #f5f5f5;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%);
    font-size: 16px;
    border-radius: 4px;
    background-color:#fff;
}

.title{
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}



.price {
    margin: 1px 0;
    color: #bf0000;
    font-size: 20px;
    font-weight:bold;
}

.mat-elevation-z8 {
  margin: 20px;
 }

.button {
  display: inline-block;
  padding:5px 10px;
  color: #FFF;
  text-decoration :none;
  background: #3f51b5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: .3s;
  cursor: pointer;
}








.csv_button{
  display: inline-block;
  padding:5px 10px;
  margin-left: 50px;
  color: #FFF;
  text-decoration :none;
  background: #3f51b5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: .3s;
  cursor: pointer;
}


.item-line {
width: 90%;
margin: 8px 20px;
}

.item-card {
margin: 0 0 5px 0;
}


/* ローディングアニメーション */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 120px;
  height: 120px;
}

/* Loading テキスト */
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  /* ローディング要素のアニメーションを指定 */
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
          animation: spinner1_1 1.5s infinite linear forwards;
}
.spinner.type1 span {
  /* Loading テキストのアニメーションを指定 */
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

/* ローディング要素のアニメーション内容 */
@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Loading テキストのアニメーション内容 */
@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}



.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease; /* 1.2秒でフェードアウト */
          transition: all 1.2s ease;
  color: #fff; /* ローディングアニメーションカラー */
  background-color: #333; /* 背景カラー */
  opacity: 0.5;
}



/* ローディング表示を消すための定義 */
.box.loaded{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}


.amazon_button{


    background:#fc9a18;
    padding:10px;
    border-radius:10px;
    cursor: pointer;
    color: #fff
}

.rakuten_button{
    background:#bf0000;
    padding:10px;
    border-radius:10px;
    cursor: pointer;
    color:#fff
}

.block{
    display:inline-block;
}

.nav-link{
    color:#fff;
    vertical-align: middle;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

.user-link{
    color:#fff;
}

.log-area{
  line-height: 25px;
  margin: 0 0 0 auto;
  padding: 20px 20px;
  font-size: 18px
}

.log-area2{
  line-height: 25px;
  float: right;
  padding: 20px 20px;
  font-size: 18px
}

.form-field {
    padding: 0.1em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */

    width: 20em;             /* 横幅 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    outline:none;
}

label, input[type='checkbox'] {
    cursor: pointer;
}
