

{% load static %}

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>お問い合わせ</h1>
          <p>お問い合わせフォームです。</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">送信</button>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">戻る</a>
          </form>
        </div>
      </div>
    </div>
  </body>