{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>CREATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>新規ユーザーの作成</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">作成</button>
    </form>
</body>
</html>