  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>使い方</h1>
            <h2>①各サイトのログイン情報、API情報を入力</h2>
            <p>商品情報を取得したいサイトのログイン情報を入力し、Amazon、楽天、ヤフーショッピングのAPI情報を入力します。</p>
            <p>Amazon、楽天、ヤフーショッピングの出品情報が不要な場合は、この3つは空欄で問題ありません。</p>

            {% load static%}
            <img src="{% static 'image/logpass.jpg' %}" width="300" height="300">

            <h2>②商品情報を取得したいサイトをヘッダー部から選択し、そのサイトに登録してある特定のメーカーのページをURL欄に入力。</h2>
            <p>（例）https://www.superdelivery.com/p/do/dpsl/204166/</p>

            <p>もし、ログイン情報を入力していないと、情報の取得を行うことができません。</p>
            <img src="{% static 'image/sudely.jpg' %}">

            <h2>③情報の閲覧</h2>
            <p>商品情報の取得が完了すると、ページを更新した際にアイテムが表示されます。</p>
            <p>Amazonに商品ページが存在する商品に関しては、Amazon最安値、ランキング、Amazonカート価格などが表示されます。</p>
            <p>もし、Amazonに商品ページが存在しない場合、またMWS情報を入力していない場合は、Noneという表示になります。</p>
            <img src="{% static 'image/result.jpg' %}">
          <br>
          <br>
          <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">戻る</a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>