
{% load static %}
{% load widget_tweaks %}

  <head>
      <link rel="icon" type="image/png" href="{% static '/icon/favicon.png' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
  </head>

  <body>

    <div id="my-spinner" class="box loaded">
      <div class="spinner type1">
        <span>Loading...</span>
      </div>
    </div>


    <div class="header-box">
        <div class="top-area">
            <span class="click-area">
                <a href="/sudely/" class="linkcolor">SuperDelivery</a>
            </span>
            <span class="click-area">
                <a href="/netsea/" class="linkcolor">NETSEA</a>
            </span>
            <span class="click-area">
                <a href="/zakka/" class="linkcolor">ザッカネット</a>
            </span>
            <span class="click-area">
                  <a href="/kawada/" class="linkcolor">カワダオンライン</a>
            </span>
            <span class="click-area">
                  <a href="/kenko/" class="linkcolor">Kenko卸</a>
            </span>
            <!--
            <span class="click-area">
                  <a href="/kanri/" class="linkcolor">管理画面</a>
            </span>
            -->
            <span class="click-area">
                <a href="/log/" class="linkcolor">ログ</a>
          </span>

            <span class="click-area">
                  <a href="/contact/" class="linkcolor">お問い合わせ</a>
            </span>
            <span class="click-area">
                  <a href="/exp/" class="linkcolor">使い方</a>
            </span>

            {% if user.is_authenticated %}
            <span class="log-area">
                <ion-icon name="person" style="vertical-align: middle;"></ion-icon><a class="user-link">{{ user.get_username }}　</a>

                <a class="nav-link" href="{% url 'sudely:logpass' %}">
                    <ion-icon name="globe" style="vertical-align: middle;"></ion-icon>ログイン情報編集　</a>

                <a class="nav-link" href="{% url 'sudely:logout' %}">
                    <ion-icon name="log-out" style="vertical-align: middle;"></ion-icon>ログアウト</a>
            </span>
            {% endif %}
        </div>
    </div>


          {% block content %}

          {% endblock %}

      <p>{{result2}}</p>

    {% for res in ps %}
    <div class="text-box">
        <a href="{{res.url}}" target="_blank"><p class="title">{{res.title}}</p></a>
        <p>
        <a href="{{res.url}}" target="_blank"><img src={{res.image}} align="left" width="180" height="180" hspace="15"  border="1"></a>
        <p class="price">商品単価：{{res.tanka}}</p>
        Amazon最安値 ：{{res.low}}円　Amazonカート :{{res.cart}}円
        <br>
        楽天最安値:{{res.rakuprice}}円　ヤフー最安値:{{res.yahooprice}}円
        <br>
        ランキング :{{res.rank}}位
        <br>
        支払総額：{{res.price}}
        <br>
        種    類：{{res.moq}}
        <br>
        JANコード：{{res.jan}}
        <!--
        <div class="block">
          <button type="button" class="amazon_button" onclick=location.href='https://www.amazon.co.jp/s?k={{res.jan}}&tag=amakahi01-22'">Amazonで検索</button>
        <br>
            <button type="button" class="rakuten_button" onclick=location.href='https://www.amazon.co.jp/s?k={{res.jan}}&tag=amakahi01-22'">楽天で検索</button>
        </div>
        -->
        </p>
    </div>
    {% endfor %}

    <!-- 前のページへのリンク -->
    {% if ps.has_previous %}
        <a href="?p={{ ps.previous_page_number }}">前へ</a>
    {% endif %}

    {% if ps.has_previous %}
        {% if ps.previous_page_number != 1 %}
            <li><a class="page-link text-primary d-inline-block" href="?p=1">1</a></li>
            <li>…</li>
        {% endif %}
        <li><a class="page-link text-primary d-inline-block" href="?p={{ ps.previous_page_number }}">{{ ps.previous_page_number }}</a></li>
    {% endif %}

    <!-- 現在のページ番号と全体のページ数 -->
    <span>
        {{ ps.number }} / {{ ps.paginator.num_pages }}
    </span>

    {% if ps.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?p={{ ps.next_page_number }}">{{ ps.next_page_number }}</a></li>
        {% if ps.next_page_number != ps.paginator.num_pages %}
            <li>…</li>
            <li><a class="page-link text-primary d-inline-block" href="?p={{ ps.paginator.num_pages }}">{{ ps.paginator.num_pages }}</a></li>
        {% endif %}
    {% endif %}

    <!-- 次のページへのリンク -->
    {% if ps.has_next %}
        <a href="?p={{ ps.next_page_number }}">次へ</a>
    {% endif %}


  </body>
