{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<div class=”box”>
     <form action="" method="POST" name="button">
         <table border="1" cellpadding="6" cellspacing="0">
             <thead style="background:#00008b; color:#f5f5f5;">
             <tr>
                <th>サイト名</th>
                <th>ID</th>
                <th>パスワード</th>
             </tr>
             </thead>
              <tr>
                <td>SuperDelivery</td>
                <td>{{form.sudelyid}}</td>
                <td>{{form.sudelypass}}</td>
              </tr>
              <tr>
                <td>NETSEA</td>
                <td>{{form.netseaid}}</td>
                <td>{{form.netseapass}}</td>
              </tr>
              <tr>
                <td>ザッカネット</td>
                <td>{{form.zakkaid}}</td>
                <td>{{form.zakkapass}}</td>
              </tr>
             <tr>
                <td>カワダオンライン</td>
                <td>{{form.kawadaid}}</td>
                <td>{{form.kawadapass}}</td>
              </tr>
             <tr>
                <td>Kenko卸.com</td>
                <td>{{form.kenkoid}}</td>
                <td>{{form.kenkopass}}</td>
              </tr>
         </table>
        <br>
         <table border="1" cellpadding="6" cellspacing="0">
             <thead style="background:#008000; color:#f5f5f5;">
             <tr>
                <th>AmazonセラーID</th>
                <th>MWS認証トークン</th>
              </tr>
             </thead>
              <tr>
                <td>{{form.mwsseller}}</td>
                <td>{{form.authtoken}}</td>
              </tr>
         </table>
         <br>
          <table border="1" cellpadding="6" cellspacing="0">
              <thead style="background:#dc143c; color:#f5f5f5;">
              <tr>
                <th>楽天API</th>
              </tr>
              </thead>
              <tr>
                <td>{{form.rakuapi}}</td>
              </tr>
         </table>
         <br>
         <table border="1" cellpadding="6" cellspacing="0">
             <thead style="background:#ff8c00; color:#f5f5f5;">
              <tr>
                <th>ヤフーAPI</th>
              </tr>
             </thead>
              <tr>
                <td>{{form.yahooapi}}</td>
              </tr>
         </table>
         <br>
        {% csrf_token %}
        <button type="submit" class="button">変更</button>
         <a href="{{request.META.HTTP_REFERER}}" class="button">キャンセル</a>
     </form>
</div>