{% load widget_tweaks %}


  <head>
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
  </head>

  <body>
      <table>

      </table>
  </body>>


