{% extends "sudely/header.html" %}
{% block content %}
{% load widget_tweaks %}

<div class="container">
    <div class = "topma">
    <div class="mat-elevation-z8">
          <span class="title-area">
              <a href="https://ganguoroshi.jp/" target="_blank">カワダオンライン</a>
          </span>
    </div>
    </div>
    <div class="mat">
        <div class="form-box">
            <form action="/kawada/" method="POST" name="button">
                カワダオンライン
                <br>
                <b>URL:</b>{{form.url|add_class:"form-field"}}
                <b>取得ページ数:</b>{{form.pages|add_class:"form-field"}}
                {% csrf_token %}
                <button type="submit" class="button" onclick="OnButtonClick();">Request</button>
                <a href="{% url 'sudely:downloader' %}">ダウンロード</a>
            </form>
        </div>
    <br>
    <hr>
    </div>
</div>


{% endblock %}