{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="login">
    <h2 class="login-header">Log in</h2>
    <form action="" method="POST" class="login-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">LOGIN</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
</body>
</html>






