{% extends "sudely/header.html" %}

{% block content %}
{% load widget_tweaks %}


<div class="container">
    <div class = "topma">
    <div class="mat-elevation-z8">
          <span class="title-area">
              <a href="https://www.netsea.jp/" target="_blank">NETSEA</a>
          </span>
    </div>
    </div>
    <div class="mat">
        <div class="form-box">
             <form action="/netsea/" method="POST" name="button">
                 NETSEA
                 <br>
                <b>URL:</b>{{form.url|add_class:"form-field"}}
                <b>取得ページ数:</b>{{form.pages|add_class:"form-field"}}
                {% csrf_token %}
                <button type="submit" class="button" onclick="OnButtonClick();">Request</button>
                 <a href="{% url 'sudely:downloader' %}">ダウンロード</a>
            </form>
        </div>
    <br>
    <hr>
    </div>
</div>


{% endblock %}