
{% load static %}
{% load widget_tweaks %}

<head>
    <link rel="icon" type="image/png" href="{% static '/icon/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
</head>


<div style="background-color:#3f51b5;font-weight: 800;">    
    <span class="click-area">
        <a href="/sudely/" class="linkcolor">SuperDelivery</a>
    </span>
    <span class="click-area">
        <a href="/netsea/" class="linkcolor">NETSEA</a>
    </span>
    <span class="click-area">
        <a href="/zakka/" class="linkcolor">ザッカネット</a>
    </span>
    <span class="click-area">
        <a href="/kawada/" class="linkcolor">カワダオンライン</a>
    </span>
    <span class="click-area">
        <a href="/kenko/" class="linkcolor">Kenko卸</a>
    </span>
    <span class="click-area">
        <a href="/log/" class="linkcolor">ログ</a>
    </span>

    <span class="click-area">
        <a href="/contact/" class="linkcolor">お問い合わせ</a>
    </span>
    <span class="click-area">
        <a href="/exp/" class="linkcolor">使い方</a>
    </span>


    {% if user.is_authenticated %}
    <span class="log-area2">
        <ion-icon name="person" style="vertical-align: middle;"></ion-icon><a class="user-link">{{ user.get_username }}</a>

        <a class="nav-link" href="{% url 'sudely:logpass' %}">
            <ion-icon name="globe" style="vertical-align: middle;"></ion-icon>ログイン情報編集　</a>

        <a class="nav-link" href="{% url 'sudely:logout' %}">
            <ion-icon name="log-out" style="vertical-align: middle;"></ion-icon>ログアウト</a>
    </span>
    {% endif %}

</div>
    
    <table>
        <thead>
            <td><label><input type="checkbox" id="all" class="checkbox-input"></label></td>
            <td>サイト名</td>
            <td>商品ページ</td>
            <td>状態</td>
        </thead>
        <tbody>
        {% for res in result %}        
            <tr class="text-box">
                <td class="text-valign-middle" width="5%"><label><input type="checkbox" name="delete" class="checkbox-input" value="{{ res.id }}" id="boxes"></label></td>
                <td class="text-valign-middle" width="15%"><p class="price"></p>{{res.site}}</td>
                
                <td class="text-valign-middle" width="10%"><a href="{{res.url}}" class="linkcolor2">{{res.url}}</a></td>    
                {% if res.taskstatus == "SUCCESS" %}     
                <td class="text-valign-middle" width="10%"><p class="price"></p>取得完了</td>
                {% elif res.taskstatus == "FAILURE" %}
                <td class="text-valign-middle" width="10%"><p class="price"></p>エラー</td>
                
                {% endif %}            
            </tr>
        {% endfor %}            
        </tbody>
    </table>
    <p class="price">確認</p>